# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables
.env
.env.local
.env.example
client/.env.local.example

# Build outputs
client/.next/
client/out/
server/dist/

# OS files
.DS_Store
.vercel
